@import "../../../../styles/colors";
@import "../../../../styles/media query";

.img {
  // DISPLAY
  position: relative;

  // BOX MODEL
  width: 465.23rem;
  height: 303.31rem;

  // TYPOGRAPHY
}

@media (width > $phone) {
  .img {
    // DISPLAY
    position: relative;

    // BOX MODEL
    width: 535.23rem;
    height: 333.31rem;

    // TYPOGRAPHY
  }
}
