@import "../../../../styles/colors";



.img{
    
    // DISPLAY
    position: relative;
    
    
    // BOX MODEL
    width: 535.23rem;
    height: 333.31rem;
        
    
    
    // TYPOGRAPHY
    
}