@import "../../styles/colors";
@import "../../styles/media query";

.article {
  // DISPLAY
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10rem;

  // BOX MODEL
  padding-top: 146rem;
  padding-inline: 60rem;

  margin-inline: auto;
  width: 1423rem;

  // TYPOGRAPHY
}

.p {
  // DISPLAY

  // BOX MODEL
  width: 835rem;
  margin-top: 34rem;

  // TYPOGRAPHY
}

.bigger {
  position: relative;
  width: 90vw;
}

@media (width > $phone) {
  .article {
    // DISPLAY
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    // BOX MODEL
    padding-top: 146rem;
    padding-inline: 0;
    margin-inline: auto;
    width: 1423rem;

    // TYPOGRAPHY
  }

  .p {
    // DISPLAY

    // BOX MODEL
    width: 835rem;
    margin-top: 34rem;

    // TYPOGRAPHY
  }

  .bigger {
    position: relative;
    width: 100%;
  }
}
