@import "../../../styles/colors";
@import "../../../styles/media query";


.span {
  // DISPLAY
  display: none;
  gap: 68rem;

  // BOX MODEL

  // TYPOGRAPHY




& a{
    text-decoration: none;
    text-transform: uppercase;

    font-family: Poppins;
    font-weight: 500;
    font-size: 22rem;
    line-height: 21.6rem;
    color:whitesmoke;
  
  
  &:hover{
    color:$secondary-color ;
  }
  
  }







}




@media (width > $phone) {


  .span {
    // DISPLAY
    display: flex;
    gap: 68rem;
  
    // BOX MODEL
  
    // TYPOGRAPHY
  
  
  
  
  & a{
      text-decoration: none;
      text-transform: uppercase;
  
      font-family: Poppins;
      font-weight: 500;
      font-size: 22rem;
      line-height: 21.6rem;
      color:whitesmoke;
    
    
    &:hover{
      color:$secondary-color ;
    }
    
    }
  
  
  
  
  
  
  
  }
  
  


}