@import "../../styles/colors";

.vision {
  // DISPLAY
  position: relative;
  overflow: hidden;

  // BOX MODEL
  width: 100%;
  height: 659.98rem;
  padding-top: 37.8rem;
  margin-top: 10rem;

  // TYPOGRAPHY
}

.img {
  // DISPLAY
  position: absolute;

  // BOX MODEL
  width: 100%;
  top: 0;
  left: 0;

  // TYPOGRAPHY
}

.overlay {
  // DISPLAY
  position: absolute;
  background-color: rgba(1, 14, 48, 0.51);
  //   background-color: rgba(239, 7, 7, 0.86);

  // BOX MODEL
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  // TYPOGRAPHY
}

.h2 {
  // DISPLAY
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // BOX MODEL
  width: 476rem;
  height: 541.41rem;
  margin-right: auto;
  margin-left: auto;

  // TYPOGRAPHY

  font-family: Poppins;
  font-weight: bold;
  font-size: 105.48rem;
  line-height: 126.57rem;
  text-align: center;
  color: $primary-text-color;

  &::after {
    // DISPLAY
    content: "MR LOT MUCAVELE";
    position: relative;

    // BOX MODEL

    // TYPOGRAPHY
    font-family: Poppins;
    font-weight: 400;
    font-size: 29rem;
    line-height: 34.8rem;
    color: $primary-text-color;
  }
}
