@import "../../../styles/colors";
@import "../../../styles/media query";

.imageContainer {
  // background-color: lime;
  // DISPLAY
  position: relative;
  display: flex;
  gap: 30rem;
  flex-wrap: wrap;
  justify-content: space-between;
  // BOX MODEL
  width: auto;
  padding-inline: 0rem;

  // TYPOGRAPHY
}


@media (width > $phone) {

  .imageContainer {
    // background-color: lime;
    // DISPLAY
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30rem;
    // flex-wrap: nowrap;
    justify-content:space-between;
    // BOX MODEL
    width: 1270rem;
    padding-inline: 0rem;
  
    // TYPOGRAPHY
  }

}