@import "../../styles/colors";

.overlay {
  // DISPLAY

  position: absolute;
  background: $primary-background-color;
  opacity: 0.68;

  // BOX MODEL
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  // TYPOGRAPHY
}

.article {
  // DISPLAY
  position: relative;
  // import pic from "../../public/resized"

  // background-image: url("../../../public/resized/pexels-yury-kim-585418 (Large).jpg");
  background-image: url("../../public/resized/pexels-yury-kim-585418 (Large).jpg");
  background-size: cover;
  background-repeat: no-repeat;

  // BOX MODEL
  padding-left: 220rem;
  padding-top: calc(224rem + 14rem);
  margin-top: -174rem;
  // height: calc(1041rem + 124rem);
  height: 1041rem;

  // TYPOGRAPHY
}

.content {
  position: relative;
  // DISPLAY
  display: flex;
  flex-direction: column;
  gap: 57rem;

  // BOX MODEL
  width: 926rem;

  // TYPOGRAPHY

  // & h1 {
  //   // DISPLAY

  //   // BOX MODEL

  //   // TYPOGRAPHY

  //   font-family: Poppins;
  //   font-weight: bolder;
  //   font-size: 76rem;
  //   line-height: 94rem;
  //   color: $primary-text-color;
  // }

  & h2 {
    // DISPLAY

    // BOX MODEL
    margin-top: -75.5rem;
    width: 853rem;

    // TYPOGRAPHY

    font-family: Poppins;
    font-weight: 500;
    font-size: 25rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    color: $primary-text-color;
  }

  & a {
    // DISPLAY
    position: relative;
    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    // BOX MODEL
    width: 197rem;
    height: 60rem;
    border-radius: 999rem;

    // TYPOGRAPHY
    font-family: Poppins SemiBold;
    font-weight: normal;
    font-size: 18rem;

    &:hover {
      background-color: $secondary-color;
    }
  }

  & .contactinfo {
    // DISPLAY
    display: flex;
    gap: 78.2rem;

    // BOX MODEL

    // TYPOGRAPHY
    font-family: Poppins;
    font-weight: bold;
    font-size: 20rem;
    line-height: 24rem;
    color: $primary-text-color;
  }
}
