@import "../../styles/colors";
@import "../../styles/media query";

.overlay {
  // DISPLAY

  position: absolute;
  background: $primary-background-color;
  opacity: 0.68;

  // BOX MODEL
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  // TYPOGRAPHY
}

.article {
  // DISPLAY
  position: relative;
  background-image: url("../../public/resized/pexels-yury-kim-585418 (Large).jpg");
  background-size: cover;
  background-repeat: no-repeat;

  // BOX MODEL
  padding-left: 60rem;
  padding-top: calc(224rem + 14rem);
  margin-top: 74rem;
  // height: calc(1041rem + 124rem);
  height: 918rem;

  // TYPOGRAPHY

  & .h3 {
    // DISPLAY
    position: relative;
    display: flex;
    // flex-direction: column;
    gap: 18rem;
    // justify-content: flex-start;

    // BOX MODEL
    margin-top: 28.5rem;
    width: 100%;

    // TYPOGRAPHY

    font-family: Poppins;
    font-weight: 500;
    font-size: 25rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    color: $primary-text-color;

    //  & li{
    //   list-style: none;
    //  }
  }
}


.buttonzone {
  display: flex;
  gap: 20rem;
  margin-top: 50rem;
  margin-left: -10rem;

  & .round {
    position: relative;
    background-color: aliceblue;
    height: 68rem;
    width: 68rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23rem;
    color: green;
    font-weight: 700;

    &::after {
      content: "Download our profile";
      position: absolute;
      top: 20rem;
      right: -230rem;
      font-size: 18rem;
      width: max-content;
      color: whitesmoke;
      font-weight: 500;
      //uppercase
      text-transform: uppercase;
    }
  }
}

.h1::before {
  // DISPLAY
  content: "WE DO";
  position: absolute;

  // BOX MODEL
  top: -26rem;
  left: 0;

  // TYPOGRAPHY
  font-family: Poppins;
  font-weight: normal;
  font-size: 21rem;
  letter-spacing: 0.02em;
  line-height: 34rem;
  text-align: left;
}

.content {
  position: relative;
  // DISPLAY
  display: flex;
  flex-direction: column;

  // BOX MODEL
  width: 991rem;

  // TYPOGRAPHY
}

.services {
  position: absolute;
  bottom: -30rem;
  right: -30rem;
  // background-color: aqua;
  display: flex;
  gap: 20rem;

  height: 300rem;
  // width: 320rem;

  & span {
    position: relative;
    // background-color: antiquewhite;
    height: 203rem;
    width: 340rem;
    // overflow: hidden;

    & p {
      position: absolute;
      bottom: -43rem;
      font-size: 21rem;
      font-weight: 600;
      color: whitesmoke;
    }

    & img {
      position: relative;
      border-radius: 13rem;
      width: 100%;
      height: 100%;
    }
  }
}

@media (width > $phone) {
  .overlay {
    // DISPLAY

    position: absolute;
    background: $primary-background-color;
    opacity: 0.68;

    // BOX MODEL
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    // TYPOGRAPHY
  }

  .article {
    // DISPLAY
    position: relative;
    background-image: url("/resized/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    // BOX MODEL
    padding-left: 220rem;
    padding-top: calc(224rem + 14rem);
    margin-top: 94rem;
    // height: calc(1041rem + 124rem);
    height: 950rem;

    // TYPOGRAPHY

    & .h3 {
      // DISPLAY
      position: relative;
      display: flex;
      // flex-direction: column;
      gap: 18rem;
      // justify-content: flex-start;

      // BOX MODEL
      margin-top: 12.5rem;
      width: 100%;

      // TYPOGRAPHY

      font-family: Poppins;
      font-weight: normal;
      font-size: 25rem;
      letter-spacing: 0.02em;
      line-height: 34rem;
      color: $primary-text-color;

      //  & li{
      //   list-style: none;
      //  }
    }
  }

  .buttonzone {
    display: flex;
    gap: 20rem;
    margin-top: 50rem;
    margin-left: -10rem;

    & .round {
      position: relative;
      background-color: aliceblue;
      height: 68rem;
      width: 68rem;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23rem;
      color: green;
      font-weight: 700;

      &::after {
        content: "Download our profile";
        position: absolute;
        top: 20rem;
        right: -230rem;
        font-size: 18rem;
        width: max-content;
        color: whitesmoke;
        font-weight: 500;
        //uppercase
        text-transform: uppercase;
      }
    }
  }

  .h1::before {
    // DISPLAY
    content: "WE DO";
    position: absolute;

    // BOX MODEL
    top: -26rem;
    left: 0;

    // TYPOGRAPHY
    font-family: Poppins;
    font-weight: normal;
    font-size: 21rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    text-align: left;
  }

  .content {
    position: relative;
    // DISPLAY
    display: flex;
    flex-direction: column;

    // BOX MODEL
    width: 991rem;

    // TYPOGRAPHY
  }

  .services {
    position: absolute;
    bottom: -30rem;
    right: 30rem;
    // background-color: aqua;
    display: flex;
    gap: 20rem;

    height: 300rem;
    // width: 320rem;

    & span {
      position: relative;
      // background-color: antiquewhite;
      height: 203rem;
      width: 340rem;
      // overflow: hidden;

      & p {
        position: absolute;
        bottom: -43rem;
        font-size: 21rem;
        font-weight: 600;
        color: whitesmoke;
      }

      & img {
        position: relative;
        border-radius: 13rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}
