@import "../../styles/colors";
@import "../../styles/media query";

.article {
  // background-color: orange;

  // DISPLAY
  position: relative;
  display: flex;
  // gap: 32rem;

  // BOX MODEL
  padding-block: 148rem;
  padding-inline: 50rem;
  width: 100vw;
  margin-inline: auto;

  // TYPOGRAPHY
  // outline: 3px solid gold;
}



@media (width > $phone) {

  .article {
    // background-color: pink;
  
    // DISPLAY
    position: relative;
    display: flex;
    // gap: 32rem;
    justify-content: space-between;
  
    // BOX MODEL
    padding-block: 148rem;
    padding-inline: 0rem;

    // width: max-content;
    width: 94vw;

    margin-inline: auto;
  
    // TYPOGRAPHY
    // outline: 3px solid gold;
  }
  

}