@import "../../../styles/colors";
@import "../../../styles/media query";

.serviceCard {
  counter-increment: count-up;

  // DISPLAY
  position: relative;
  // background: pink;
  // overflow: hidden;

  // BOX MODEL
  // width: 457.16rem;
  // height: 284.69rem;

  width: 100%;
  height: 584.69rem;

  // TYPOGRAPHY

  &:hover {
    p {
      color: $secondary-color;
    }

    &::after {
      // DISPLAY
      position: absolute;
      content: counter(count-up, decimal-leading-zero);

      // BOX MODEL
      top: 10.5rem;
      right: 31.3rem;

      // TYPOGRAPHY
      font-family: Poppins;
      font-weight: bold;
      font-size: 42rem;
      line-height: 51rem;
      text-align: left;
      color: $secondary-color;
    }
  }

  &:focus {
    p {
      color: $primary-background-color;
    }
  }

  &::after {
    // DISPLAY
    position: absolute;
    content: counter(count-up, decimal-leading-zero);

    // BOX MODEL
    top: 10.5rem;
    right: 31.3rem;

    // TYPOGRAPHY
    font-family: Poppins;
    font-weight: bold;
    font-size: 42rem;
    line-height: 51rem;
    text-align: left;
    color: $primary-color;
  }
}

.serviceCardInfo {
  // DISPLAY
  position: absolute;
  background: rgba(255, 255, 255, 0.83);

  // BOX MODEL
  width: 55vw;
  // height: 64.51rem;
  bottom: 0rem;

  padding-top: 22.6rem;
  padding-left: 13.5rem;
  padding-bottom: 16.9rem;

  // TYPOGRAPHY
  font-family: Poppins;
  font-weight: bold;
  font-size: 22rem;
  line-height: 24rem;
  text-align: left;
  color: $primary-color;

  &::after {
    // DISPLAY
    content: " ";
    position: absolute;
    background: $primary-color;

    // BOX MODEL
    width: 6.59rem;
    height: 100%;
    top: 0;
    left: -6.69rem;

    // TYPOGRAPHY
  }
}

.serviceCardImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (width > $phone) {
  .serviceCard {
    counter-increment: count-up;

    // DISPLAY
    position: relative;
    // background: pink;
    // overflow: hidden;

    // BOX MODEL
    width: 457.16rem;
    height: 284.69rem;

    // TYPOGRAPHY

    &:hover {
      p {
        color: $secondary-color;
      }

      &::after {
        // DISPLAY
        position: absolute;
        content: counter(count-up, decimal-leading-zero);

        // BOX MODEL
        top: 10.5rem;
        right: 31.3rem;

        // TYPOGRAPHY
        font-family: Poppins;
        font-weight: bold;
        font-size: 42rem;
        line-height: 51rem;
        text-align: left;
        color: $secondary-color;
      }
    }

    &:focus {
      p {
        color: $primary-background-color;
      }
    }

    &::after {
      // DISPLAY
      position: absolute;
      content: counter(count-up, decimal-leading-zero);

      // BOX MODEL
      top: 10.5rem;
      right: 31.3rem;

      // TYPOGRAPHY
      font-family: Poppins;
      font-weight: bold;
      font-size: 42rem;
      line-height: 51rem;
      text-align: left;
      color: $primary-color;
    }
  }

  .serviceCardInfo {
    // DISPLAY
    position: absolute;
    background: rgba(255, 255, 255, 0.83);

    // BOX MODEL
    width: 433.27rem;
    // height: 64.51rem;
    bottom: 0rem;

    padding-top: 22.6rem;
    padding-left: 13.5rem;
    padding-bottom: 16.9rem;

    // TYPOGRAPHY
    font-family: Poppins;
    font-weight: bold;
    font-size: 18rem;
    line-height: 24rem;
    text-align: left;
    color: $primary-color;

    &::after {
      // DISPLAY
      content: " ";
      position: absolute;
      background: $primary-color;

      // BOX MODEL
      width: 6.59rem;
      height: 100%;
      top: 0;
      left: -6.69rem;

      // TYPOGRAPHY
    }
  }

  .serviceCardImage {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
