@import "../../styles/colors";
@import "../../styles/media query";

.overlay {
  // DISPLAY

  position: absolute;
  background: $primary-background-color;
  opacity: 0.68;

  // BOX MODEL
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  // TYPOGRAPHY
}

.article {
  // DISPLAY
  position: relative;
  background-image: url("../../public/resized/pexels-yury-kim-585418 (Large).jpg");
  background-size: cover;
  background-repeat: no-repeat;

  // BOX MODEL
  // padding-left: 220rem;
  padding-inline: 60rem;
  padding-top: calc(224rem + 14rem);
  margin-top: 54rem;
  // height: calc(1041rem + 124rem);
  height: 818rem;

  // TYPOGRAPHY
}

.content {
  position: relative;
  // DISPLAY
  display: flex;
  flex-direction: column;

  // BOX MODEL
  width: 100%;

  // TYPOGRAPHY
}

// .h3 {
//   // DISPLAY
//   position: relative;
//   display: flex;
//   gap: 18rem;
//   // justify-content: center;
//   align-items: center;

//   // BOX MODEL
//   margin-top: 28.5rem;
//   width: 100%;

//   // TYPOGRAPHY

//   font-family: Poppins;
//   font-weight: 500;
//   font-size: 25rem;
//   letter-spacing: 0.02em;
//   line-height: 34rem;
//   color: $primary-text-color;

//   &::before {
//     content: "•";

//     position: relative;
//     top: 3rem;
//   }
// }

.h2 {
  // DISPLAY
  position: relative;
  display: flex;
  gap: 18rem;
  // justify-content: center;
  align-items: center;

  // BOX MODEL
  margin-top: 28.5rem;
  width: 100%;

  // TYPOGRAPHY

  font-family: Poppins;
  font-weight: 500;
  font-size: 25rem;
  letter-spacing: 0.02em;
  line-height: 34rem;
  color: $primary-text-color;

  &::before {
    content: "•";
    position: relative;
    top: 3rem;
  }
}


.h3 {
  // DISPLAY
  position: relative;
  display: flex;
  gap: 18rem;
  // justify-content: center;
  align-items: center;

  // BOX MODEL
  margin-top: 28.5rem;
  width: 100%;

  // TYPOGRAPHY

  font-family: Poppins;
  font-weight: 500;
  font-size: 25rem;
  letter-spacing: 0.02em;
  line-height: 34rem;
  color: $primary-text-color;

  &::before {
    content: "•";
    position: relative;
    top: 3rem;
  }
}


.h4 {
  // DISPLAY
  position: relative;
  display: flex;
  gap: 18rem;
  // justify-content: center;
  align-items: center;

  // BOX MODEL
  margin-top: 28.5rem;
  width: 100%;

  // TYPOGRAPHY

  font-family: Poppins;
  font-weight: 500;
  font-size: 25rem;
  letter-spacing: 0.02em;
  line-height: 34rem;
  color: $primary-text-color;

  &::before {
    content: "•";
    position: relative;
    top: 3rem;
  }
}



@media (width > $phone) {
  .overlay {
    // DISPLAY

    position: absolute;
    background: $primary-background-color;
    opacity: 0.68;

    // BOX MODEL
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    // TYPOGRAPHY
  }

  .article {
    // DISPLAY
    position: relative;
    background-image: url("/resized/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    // BOX MODEL
    padding-left: 220rem;
    padding-top: calc(224rem + 14rem);
    margin-top: 44rem;
    // height: calc(1041rem + 124rem);
    height: 818rem;

    // TYPOGRAPHY
  }

  .content {
    position: relative;
    // DISPLAY
    display: flex;
    flex-direction: column;

    // BOX MODEL
    width: 991rem;

    // TYPOGRAPHY
  }

  .h2 {
    // DISPLAY
    position: relative;
    display: flex;
    gap: 18rem;
    // justify-content: center;
    align-items: center;

    // BOX MODEL
    margin-top: 28.5rem;
    width: 100%;

    // TYPOGRAPHY

    font-family: Poppins;
    font-weight: 500;
    font-size: 25rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    color: $primary-text-color;

    &::before {
      content: url("/imgIcon/Icon zocial-email.svg");
      position: relative;
      top: 3rem;
    }
  }


  .h3 {
    // DISPLAY
    position: relative;
    display: flex;
    gap: 18rem;
    // justify-content: center;
    align-items: center;

    // BOX MODEL
    margin-top: 28.5rem;
    width: 100%;

    // TYPOGRAPHY

    font-family: Poppins;
    font-weight: 500;
    font-size: 25rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    color: $primary-text-color;

    &::before {
      content: url("/imgIcon/Icon awesome-info-circle.svg");
      position: relative;
      top: 3rem;
    }
  }


  .h4 {
    // DISPLAY
    position: relative;
    display: flex;
    gap: 18rem;
    // justify-content: center;
    align-items: center;

    // BOX MODEL
    margin-top: 28.5rem;
    width: 100%;

    // TYPOGRAPHY

    font-family: Poppins;
    font-weight: 500;
    font-size: 25rem;
    letter-spacing: 0.02em;
    line-height: 34rem;
    color: $primary-text-color;

    &::before {
      content: url("/imgIcon/Icon ionic-ios-call.svg");
      position: relative;
      top: 3rem;
    }
  }


}
